@import "tailwindcss";

:root {
  --background1: #000000;
  --background2: #333333;
  --foreground: #ffffff;
  --font-inter: "Inter", sans-serif;
  --lime: #70cd35;
}

body {
  background: radial-gradient(var(--background2), var(--background1));
  background-attachment: fixed;
  background-size: cover;
  color: var(--foreground);
  font-family: var(--font-inter);
}
